<%= render "partials/navigation_bar" %>
<div class ="conditions">
  <table class="defaultTable">
    <tr>
      <th>Name</th>
      <th>Sensor</th>
      <th>Rule</th>
      <th>Condition</th>
      <th></th>
    </tr>
    <% @conditions.each do |condition| %>
        <tr>
          <td><%=condition.name%></td>
          <td><%=condition.sensor.name%>(<%=condition.sensor.id%>)</td>
          <td><%=condition.rule.name%></td>
          <td>x <%=condition.operator%> <%=condition.operator_value%></td>
          <td> <%= link_to 'Delete', 'conditions/'+condition.id.to_s, data: { confirm: 'Are you sure?' },:method => :delete,class: 'link_delete' %></td>
    <%end%>
    </tr>
  </table>
</div>
<%= link_to 'New conditions', 'conditions/new',class: 'link_new'%>