<%= render "partials/navigation_bar" %>
<div class ="sensors">
  <table class="defaultTable">
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th></th>
    </tr>
    <% @sensors.each do |sensor| %>
        <tr>
          <td><%=sensor.name%>(<%=sensor.id%>)</td>
          <td><%=sensor.description%></td>
          <td> <%= link_to 'Delete', 'sensors/delete/'+sensor.id.to_s, data: { confirm: 'Are you sure?' },class: 'link_delete' %></td>
    <%end%>
    </tr>
  </table>
</div>
<%= link_to 'New sensor', 'sensors/new', class: 'link_new'%>