<div class="newAaction">

  <%= form_for(@aaction) do |f| %>
      <div class="field">
        <%= f.label :name %><br>
        <%= f.text_field :name %><br>
        <%= f.label :config %><br>
        <%= f.text_area :config %><br>
        <%= f.label :actor_id %><br>
        <%if @actors.any?%>
            <%=f.select('actor_id', @actors.collect {|p| [ p.name, p.id ] }, {prompt: 'Select Aactor'}) %>
        <%end%>
        <%if @rules.any?%>
            <%=f.select('rule_id', @rules.collect {|p| [ p.name, p.id ] }, {prompt: 'Select rule'}) %>
        <%end%>
      </div>
      <%= f.submit 'create' %>
  <%end%>
</div>
