<%= render "partials/navigation_bar" %>
<div class ="rules">
  <table class="defaultTable">
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>State</th>
      <th>Actions</th>
      <th>Conditions</th>
      <th></th>
      <th></th>
    </tr>
    <%aactions = Aaction.all%>
    <%conditions = Condition.all%>
    <% @rules.each do |rule| %>
        <tr>
          <td><%=rule.name%></td>
          <td><%=rule.description%></td>
          <td><%=rule.state%></td>
          <td>
            <%aactions.each do |a|%>
                <%if a.rule_id.to_s == rule.id.to_s%>
                    <%=a.name%><br>
                <%end%>
            <%end%>
          </td>
          <td>
            <%conditions.each do |c|%>
                <%if c.rule_id.to_s == rule.id.to_s %>
                    <%=c.name%><br>
                <%end%>
            <%end%>
          </td>
          <td><%=rule.conditionType%></td>
          <td> <%= link_to 'Delete', 'rules/'+rule.id.to_s, data: { confirm: 'Are you sure?' },:method => :delete,class: 'link_delete' %></td>
    <%end%>
    </tr>
  </table>
</div>
<%= link_to 'New rule', 'rules/new',class: 'link_new',id: 'link_new'%>
<%= if (false)
      link_to 'TEST', 'rules/new',id: 'linkTest', remote: true
end %>